<!doctype html>
<html>
    <head>
        <meta
            http-equiv="Content-Type"
            content="text/html; charset=iso-8859-1"
        />
        <link rel="stylesheet" href="/bundle.css" />
        <link rel="stylesheet" href="/theme.css" />
        <link rel="stylesheet" href="/assets/matter.css" />
        <link rel="stylesheet" href="/assets/materialsymbols.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="icon" type="image/x-icon" href="/icon.png" />

        <link rel="manifest" href="manifest.json" />
        <title>AnuraOS</title>

        <script type="text/javascript" src="/dist.js"></script>
        <!-- prod only ^ -->
    </head>

    <body></body>
</html>
